<div class="card flex flex-column gap-3">
  <div class="flex flex-row justify-center items-center">
    <span class="mx-1 text-color">Items per page: </span>
    <p-dropdown [options]="options" optionLabel="label" optionValue="value" [(ngModel)]="rows"
      (ngModelChange)="first = 0"></p-dropdown>
    <p-paginator [first]="first" [rows]="rows" [totalRecords]="120" (onPageChange)="onPageChange2($event)"
      [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}"
      [showPageLinks]="false" [showFirstLastIcon]="false"></p-paginator>
  </div>
</div>
