<!-- Top bar in mobile devices -->
<div class="hidden lg:flex">
  <p-menubar [model]="items" class="w-full">
    <ng-template pTemplate="start">
      <img src="../../../assets/logo.png" class="h-10 w-full" alt="Pokedex Logo" />
    </ng-template>
    <ng-template pTemplate="end">
      <p-button label="Create Account" [outlined]="true" size="small" class="lg:flex hidden"></p-button>
    </ng-template>
  </p-menubar>
</div>

<!-- side bar in mobile devices -->
<div class="flex lg:hidden xl:hidden justify-start items-center bg-zinc-50 border rounded-md py-1 px-2">
  <p-sidebar [(visible)]="sidebarVisible">
    <h3>Sidebar</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </p-sidebar>
  <p-button (click)="toggleSidebar()" icon="pi pi-arrow-right" class="mr-auto"></p-button>
  <img src="../../../assets/logo.png" class="h-10" alt="Pokedex Logo" />
</div>
