<!-- Top bar in mobile devices -->
<div class="hidden lg:flex">
  <p-menubar [model]="items" class="w-full">
    <ng-template pTemplate="start">
      <img src="../../../assets/logo.png" class="h-10 w-full" alt="Pokedex Logo" />
    </ng-template>
    <ng-template pTemplate="end">
      <p-button label="Create Account" [outlined]="true" size="small" class="lg:flex hidden"></p-button>
    </ng-template>
  </p-menubar>
</div>

<!-- side bar in mobile devices -->
<div class="flex lg:hidden xl:hidden justify-start items-center bg-zinc-50 border rounded-md py-1 px-2">
  <p-sidebar [(visible)]="sidebarVisible">
    <ng-template pTemplate="header">
      <div class="flex flex-row justify-center items-baseline">
        <img src="../../../assets/logo.png" class="h-10 mr-auto" alt="Pokedex Logo" (click)="toggleSidebar()" />
        <p class="inline-block p-2">V1</p>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="flex flex-col justify-start gap-5">
        <span *ngFor="let item of items" [routerLink]="item.routerLink"
          class="text-black text-xl">
          <i [class]="item.icon" style="font-size: 1.2rem; margin-right:5px"></i>{{item.label}}
        </span>
        <p-button label="Create Account" [outlined]="true" icon="pi pi-user-plus" iconPos="right" size="small"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">All Rights Reserved</ng-template>
  </p-sidebar>
  <img src="../../../assets/logo.png" class="h-10 mr-auto" alt="Pokedex Logo" />
  <p-button (click)="toggleSidebar()" icon="pi pi-bars" severity="primary" size="small"></p-button>
</div>
